jobs:
  - template: default.yml@templates
    parameters:
      codecov_token: $(CODECOV_TOKEN_SECRET)
      minrust: 1.40.0
      env:
        RUST_BACKTRACE: 1
      setup:
       - checkout: self
         submodules: recursive

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      ref: refs/heads/v0.4
      endpoint: jonhoo
