[package]
name = "inferno"
version = "0.1.0"

description = "Rust port of the FlameGraph performance profiling tool suite"
readme = "README.md"

authors = ["Jon Gjengset <jon@thesquareplanet.com>"]
edition = "2018"

repository = "https://github.com/jonhoo/inferno.git"


keywords = ["perf", "flamegraph", "profiling"]
categories = ["command-line-utilities", "development-tools::profiling", "visualization"]

license = "CDDL-1.0"

[badges]
travis-ci = { repository = "jonhoo/inferno" }
codecov = { repository = "jonhoo/inferno", branch = "master", service = "github" }

[dependencies]
structopt = "0.2"
smallvec = "0.6"
object = "0.11"
gimli = "0.16"
memmap = "0.7"
log = "0.4"
quick-xml = "0.13"
pretty_toa = "1.0.0"
str_stack = "0.1"

# When a new version of addr2line with this revision
# is released on crates.io, we can switch to that.
[dependencies.addr2line]
git = "https://github.com/gimli-rs/addr2line"
rev = "78f436b9c63b19803a9f5d162ba0b785f5ef6636"

[dev-dependencies]
pretty_assertions = "0.5"

[profile.release]
debug = true

[lib]
name = "inferno"

[[bin]]
name = "inferno-collapse-perf"
path = "src/bin/collapse-perf.rs"

[[bin]]
name = "inferno-flamegraph"
path = "src/bin/flamegraph.rs"
