[package]
name = "inferno"
version = "0.4.0"

description = "Rust port of the FlameGraph performance profiling tool suite"
readme = "README.md"

authors = ["Jon Gjengset <jon@thesquareplanet.com>"]
edition = "2018"

repository = "https://github.com/jonhoo/inferno.git"


keywords = ["perf", "flamegraph", "profiling"]
categories = ["command-line-utilities", "development-tools::profiling", "visualization"]

license = "CDDL-1.0"

[badges]
travis-ci = { repository = "jonhoo/inferno" }
codecov = { repository = "jonhoo/inferno", branch = "master", service = "github" }

[dependencies]
structopt = "0.2"
smallvec = "0.6"
object = "0.11"
gimli = "0.16"
memmap = "0.7"
log = "0.4"
env_logger = "0.6.0"
quick-xml = "0.13.3"
num-format = { version = "0.4", default-features = false }
str_stack = "0.1"
addr2line = "0.8"
indexmap = "1.0"
rand = "0.6.5"

[dev-dependencies]
pretty_assertions = "0.5"
testing_logger = "0.1.1"

[profile.release]
debug = true

[lib]
name = "inferno"

[[bin]]
name = "inferno-collapse-perf"
path = "src/bin/collapse-perf.rs"

[[bin]]
name = "inferno-flamegraph"
path = "src/bin/flamegraph.rs"
